* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #222;
    margin: 15;
    place-items: center; 
    height: 100vh; 
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); 
}

#person-container {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center; 
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 img {
    border-radius: 75%; 
    margin-bottom: 10px;
    width: 150px; 
    height: 150px;
    object-fit: cover;
}

#person-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

#person-info strong {
    color: #555;
}

#person-info span {
    color: #333;
}